# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea/.name

.idea/cspLogic.iml

.idea/encodings.xml

.idea/misc.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
